@{
    ViewData["Title"] = "Claims Overview";
}

@model List<Claim>

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    
    <table>
        <thead>
            <tr>
                <th>ClaimID</th>
                <th>claimAmount</th>
                <th>Description</th>
                <th>Status</th>
                <th>submissionDate</th>
            </tr>
        </thead>

        <tbody>

            @{
                foreach (var claim in Model) {
                    <tr>
                        <td>@claim.Id</td>
                        <td>@claim.HoursWorked</td>
                        <td>@claim.AdditionalNotes</td>
                        <td>@claim.Status</td>
                        <td>@claim.SubmissionDate</td>
                    </tr>
                }
            }
        </tbody>

    </table>

</div>